#first{
    height: 200px;
    background-color: aqua;
    margin:2.5vw;
}
#second{
    height: 200px;
    background-color: greenyellow;
    margin:2.5vw;
    
}
#third{
    height: 200px;
    background-color: red;
    margin:2.5vw;
    
}
#fourth{
    height: 200px;
    background-color: rebeccapurple;
    margin:2.5vw;
    
}
#fifth{
    height: 200px;
    background-color: royalblue;
    margin:2.5vw;
    
}
#sixth{
    height: 200px;
    background-color: yellow;
    margin:2.5vw;
    
}
#seventh{
    height: 200px;
    background-color: orangered;
    margin:2.5vw;
    
}
/* .navbar-header > a > img{
    width: 23px;
}
.navbar{
    background-color: palegreen;
    border: none;
}
.navbar-inverse .navbar-nav>li>a{
    color: black;
}
.navbar-inverse .navbar-header a{
    color: black;
} */
.glyphicon-trash{
    color: red;
    font-size: 35px;
}
#devSlider .carousel-inner .item img{
    width: 100%;
    height: 500px;
}